@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f10;
  color: #e5e5e5;
  overflow: hidden;
  touch-action: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}